
.contactosletra {
    color: #fff;
}

.PuertodeFrutos{
    color: rgb(240, 116, 116);
    font-family: 'Abril Fatface', cursive;
}

.contactos{
    height: 320px;
    text-align: center;
}

@media screen and (max-width:405px) {
    .contactos{
        height: 460px;
    }
}

.contactosletra{
    list-style: none;
    padding: 0%;
}

.contactosletra ul li{
    list-style: none;
    padding: 0%;
}

.contactosletra ul{
    padding: 0%;
}

.contactos{
    font-size: 16px;
    height: 100%;
    text-align: center;
}

