
.foto__logo { 
    width: 400px;
    height: 200px;
}

.body{
    background-color: black;
}

.divNavbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.divNavbar ul li{
    display: inline-block;
    border: 1px solid white;
}

.divNavbar ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    padding: 15px 100px;
}

.footer_h5 {
    color: #fff;
}

.navbar1:hover {
    background: rgb(52, 35, 93);
}

.contactosletra {
    color: #fff;
}

.foto__fondo{
    width: 100%;
    height: 200px;
}

.imagenesIndex{
    display: flex;
}

.footer{
    background-color: rgb(23, 21, 21);
}