
.contactosletra {
    color: #fff;
}

.contactos li{
    padding: 3px;
}

.PuertodeFrutos{
    color: rgb(240, 116, 116);
    font-family: 'Abril Fatface', cursive;
}

.contactos{
    height: 320px;
}

@media screen and (max-width:405px) {
    .contactos{
        height: 430px;
    }
}
