.body {
    background-color: black;
    .home_contenedorPrincipal {
        width: 100%;
        height: 500px;
        background-color: rgb(2, 2, 2);
        position: relative;
        color: #fff;
        display: grid;
        grid-template-areas: 
        "parrafo"
        "video";
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .parrafo{
        grid-area: parrafo;
        margin-top: 8px;
    }
    .indexh1_parrafo{
        font-size: 60px;
        font-family: 'Abril Fatface', cursive;
        text-align: center;
        border-bottom: 01px solid white;
    }
    .indexh4_parrafo{
        text-align: center;
        font-size: 20px;
        margin-top: 6px;
    }

    .video {
        grid-area: video;
        text-align: center;
    }
    
    .videoo{
        height: 200px;
        width: 80%;
        margin-top: 14px;
        margin-bottom: 20px;
        border: 1px dashed rgba(30, 97, 255, 0.257);
    }

    @media  screen and (max-width: 1378px) {
        .indexh1_parrafo{
            font-size: 30px;
        }

        .indexh4_parrafo{
            font-size: 16px;
        }
    }
}

