.body {
    background-color: black;
    .home_contenedorPrincipal {
        width: 100%;
        height: 500px;
        background-color: rgb(2, 2, 2);
        position: relative;
        color: #fff;
        display: grid;
        grid-template-areas: 
        "parrafo"
        "video";
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .parrafo{
        grid-area: parrafo;
        margin-top: 8px;
    }
    .indexh1_parrafo{
        font-size: 60px;
        font-family: 'Abril Fatface', cursive;
        text-align: center;
        border-bottom: 01px solid rgb(27, 5, 74);
    }
    .indexh4_parrafo{
        text-align: center;
        font-size: 20px;
        margin-top: 6px;
    }

    .video {
        grid-area: video;
        text-align: center;
    }
    
    .videoo{
        height: 200px;
        width: 80%;
        margin-top: 14px;
        margin-bottom: 20px;
    }

    @media  screen and (max-width: 1378px) {
        .indexh1_parrafo{
            font-size: 30px;
        }

        .indexh4_parrafo{
            font-size: 16px;
        }
    }
}

.footer{
    .redes_container ul li{
        display: inline-block;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        align-items: center;
        text-align: center;
    }

    .redes_container ul li a{
        display: block;
        padding: 10px;
        background-color: rgb(0, 0, 0);
        color: #fff;
        font-size: 25px;
        transition: .2s;
    }

    .redes_container ul:hover a{
        filter: blur(2px);
    }

    .redes_container ul li a:hover{
        transform: translateY(-1px) scale(1.20);
        filter: none;
    }

    .redes_container ul li .instagram:hover{
        background: rgb(229, 47, 90);
    }
}

.footer{
    display: flex;
    justify-content: space-between;

    .redes_container{
        margin-top: 9px;
    }

    .footer_texto{
        margin-top: 9px;
        margin-left: 4px;
    }

    .footer_h5{
        font-size: 13px;
    }
}

@media screen and (max-width: 758px) {
    .footer_h5{
        font-size: 12px;
    }
}