.body {
    background-color: black;
    .home_contenedorPrincipal {
        width: 100%;
        height: 500px;
        background-color: rgb(2, 2, 2);
        position: relative;
        color: #fff;
        display: grid;
        grid-template-areas: 
        "parrafo"
        "video";
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .parrafo{
        grid-area: parrafo;
    }
    .indexH1_parrafo{
        font-size: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .video {
        grid-area: video;
    }
    
    .videoo{
        height: 200px;
        width: 100%;
    }
}
