.localesimg{
    width: auto;
    height: auto;
    transition: 1s;
}

.localesimg:hover{
    transform: scale(2, 2);
}

.descripcionLocalPDF{
    color: #fff;
    text-align: center;
    margin-top: 5%;
}

.imagenLocal_puertoderutos{
    margin-top: 10px;
}

.hrlocales{
    color: #fff;
}

@media screen and (max-width:650px) {
    .h2h4Locales{
        font-size: 12px;
    }
}