.localesimg{
    width: auto;
    height: auto;
}

.descripcionLocalPDF{
    color: #fff;
    text-align: center;
    margin-top: 5%;
}

.imagenLocal_puertoderutos{
    margin-top: 10px;
}

.hrlocales{
    color: #fff;
}

@media screen and (max-width:650px) {
    .h2h4Locales{
        font-size: 12px;
    }
}

@media screen and (min-width:600px) {
    .locales2{
        display: none;
    }
}

@media screen and (max-width:599px) {
    .locales{
        display: none;
    }

    .locales2{
        display: block;
    }

    .localesimg2{
        width: 100%;
        height: 100%;
    }

    .descripcionLocalPDF2{
        color: #fff;
        text-align: center;
        margin-top: 5%;
    }

    .hr_contactosResponsive{
        display: none;
    }
}