.reservax {
    margin: 0px;
  }
  
  .reserva {
    font-size: 32px;
  }

  .reserva {
    color: #fff;
    background-color: rgb(0, 0, 0);
    height: 400px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  @media screen and (max-width:320px){
    .body_div{
      height: 120px;
    }
  }

