
.body {
    background-color: black;
    .imagenesIndex{
        display: flex;
    }
    .foto__fondo{
        width: 100%;
        height: 200px;
    }
    .foto__logo { 
        width: 400px;
        height: 200px;
    }
    .divNavbar ul{
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: black;
        display: flex;
        justify-content: space-between;
    }
    .divNavbar ul li{
        display: inline-block;
        border: 1px solid white;
    }
    
    .divNavbar ul li a{
        color: #fff;
        text-decoration: none;
        display: block;
        transition: 0.5s;
        padding: 15px 100px;
    }
    .navbar1:hover {
        background: rgb(52, 35, 93);
    }
    .home_contenedorPrincipal {
        width: 100%;
        height: 500px;
        background-color: rgb(2, 2, 2);
        position: relative;
        color: #fff;
        display: grid;
        grid-template-areas: 
        "parrafo video";
        grid-template-columns: 68% 32%;
        grid-template-rows: 100%;
    }
    .parrafo{
        grid-area: parrafo;
    }
    .indexH1_parrafo{
        font-size: 70px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .video {
        grid-area: video;
    }
    
    .videoo{
        height: 100%;
        width: 100%;
    }
    .footer{
        background-color: rgb(23, 21, 21);
    }
    .footer_h5{
        color: #fff;
    }
}
