*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 @import "./index"; 

 @import "./menupage";

 @import "./contactopage";

 @import "./localespage";

 @import "./reservapage";

/*  MEDIAQUERIES */

@media screen and (max-width:1496px) {
    .foto__fondo{
        display: none;
    }
    .foto__logo{
        width: 100%;
    }

    .divNavbar ul{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .menuCompleto{
        display: grid;
        grid-template-areas: 
        "presentacion"
        "comida"
        "bebidas"
        "cervezas";
        grid-template-columns: 100%;
        grid-template-rows: 200px 1fr 1fr 300px;
    }
    .bodyDiv_img{
        height: 100%;
    }
    .home_contenedorPrincipal{
        display: grid;
        grid-template-areas: 
        "parrafo"
        "video";
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        width: 100%;
        height: 500px;
    }
    .parrafo{
        grid-area: parrafo;
    }

    .video{
        grid-area: video;
    }
    .videoo{
        height: 100%;
    }

    .menuCompleto{
        text-align: center;
    }
    .local2{
        width: 400px;
        height: 250px;
    }
    .local1{
        width: 400px;
        height: 250px;
    }
    .reserva{
        font-size: 15px;
    }
}

@media screen and (min-width: 768px){
    .reserva_br768{
        display: none;
    }
}

@media screen and (min-width: 800px){
    .foto__fondo{
        display: block;
    }
}    

@media screen and (max-width: 400px) {
    .local1{
        width: 100% ;
    }

    .local2{
        width: 100%;
    }
}

.reservax{
    margin: 0px;
}

.reserva{
    font-size: 32px;
}

@media screen and (max-width: 768px){
    .reserva{
        font-size: 28px;
    }
}

@media screen and (max-width: 358px) {
    .reserva{
        font-size: 130%;
        height: 320px;
    }
}

@media screen and (min-width:1200px){
    .foto__fondo{
        width: 50%;
    }

    .imagenesIndex{
        display: flex;
        justify-content: space-between;
    }
}