* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: black;
}
.body .home_contenedorPrincipal {
  width: 100%;
  height: 100%;
  background-color: rgb(2, 2, 2);
  position: relative;
  color: #fff;
}
.body .parrafo {
  grid-area: parrafo;
  margin-top: 8px;
}
.body .indexh1_parrafo {
  font-size: 60px;
  font-family: "Abril Fatface", cursive;
  text-align: center;
  border-bottom: 1px solid rgb(27, 5, 74);
}
.body .indexh4_parrafo {
  text-align: center;
  font-size: 20px;
  margin-top: 6px;
  font-family: "Cinzel", serif;
}
.body .video {
  grid-area: video;
  text-align: center;
}
.body .videoo {
  height: 200px;
  margin-top: 14px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1378px) {
  .body .indexh1_parrafo {
    font-size: 30px;
  }
  .body .indexh4_parrafo {
    font-size: 15px;
  }
}

.footer .redes_container ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  align-items: center;
  text-align: center;
}
.footer .redes_container ul li a {
  display: block;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 25px;
  transition: 0.2s;
}
.footer .redes_container ul:hover a {
  filter: blur(2px);
}
.footer .redes_container ul li a:hover {
  transform: translateY(-1px) scale(1.2);
  filter: none;
}
.footer .redes_container ul li .instagram:hover {
  background: rgb(229, 47, 90);
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer .redes_container {
  margin-top: 9px;
}
.footer .footer_texto {
  margin-top: 9px;
  margin-left: 4px;
}
.footer .footer_h5 {
  font-size: 15px;
}

.carousel_img {
  height: 250px;
  width: 450px;
}

.carousel {
  width: 600px;
}

.video_carousel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1047px) {
  main {
    height: 100%;
  }
  .video {
    margin-left: 0%;
  }
  .video_carousel {
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  .carousel {
    width: 100%;
    margin-left: 6px;
  }
  .video_carousel {
    width: 100%;
  }
  .parrafo {
    height: 100%;
  }
  .indexh1_parrafo {
    margin-bottom: 0%;
  }
}
.foto__logo {
  width: auto;
  height: 200px;
}

.bodyMenu_img {
  width: 290px;
  height: 240px;
  padding: 15px;
  border: 1px solid rgb(42, 42, 62);
  transition: 1s;
}

.bodyMenu_img:hover {
  background-color: rgba(0, 72, 139, 0.534);
  border: 1px solid white;
}

.body {
  background-color: black;
}

.divNavbar {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.divNavbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.divNavbar ul li {
  display: inline-block;
  border: 1px solid white;
}

.divNavbar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  transition: 0.5s;
  padding: 15px 115px;
}

.footer_h5 {
  color: #fff;
}

.navbar1:hover {
  background: rgb(52, 35, 93);
}

.menuletra {
  color: #fff;
  text-align: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  grid-area: comida;
  border-top: 1px solid white;
  padding: 30px;
  border-bottom: 1px solid white;
}

.bebidasdiv {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.body_div {
  grid-area: presentacion;
}

.bodyDiv_img {
  width: 100%;
  height: 290px;
}

.foto__fondo {
  width: 100%;
  height: 200px;
}

.imagenesIndex {
  display: flex;
}

.footer {
  background-color: rgb(23, 21, 21);
}

.menuCompleto {
  display: grid;
  grid-template-areas: "presentacion" "comida" "bebidas" "cervezas";
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 1px;
}

.cervezas {
  grid-area: cervezas;
  border-top: 1px solid white;
  text-align: center;
}

.contactosletra {
  color: #fff;
}

.PuertodeFrutos {
  color: rgb(240, 116, 116);
  font-family: "Abril Fatface", cursive;
}

.contactos {
  height: 320px;
  text-align: center;
}

@media screen and (max-width: 405px) {
  .contactos {
    height: 460px;
  }
}
.contactosletra {
  list-style: none;
  padding: 0%;
}

.contactosletra ul li {
  list-style: none;
  padding: 0%;
}

.contactosletra ul {
  padding: 0%;
}

.contactos {
  font-size: 16px;
  height: 100%;
  text-align: center;
}

.localesimg {
  width: auto;
  height: auto;
  transition: 1s;
}

.localesimg:hover {
  transform: scale(2, 2);
}

.descripcionLocalPDF {
  color: #fff;
  text-align: center;
  margin-top: 5%;
}

.imagenLocal_puertoderutos {
  margin-top: 10px;
}

.hrlocales {
  color: #fff;
}

@media screen and (max-width: 650px) {
  .h2h4Locales {
    font-size: 12px;
  }
}
.reservax {
  margin: 0px;
}

.reserva {
  color: #fff;
  background-color: rgb(0, 0, 0);
  height: 400px;
  font-size: 9px;
  margin-bottom: 20px;
}

@media screen and (max-width: 320px) {
  .body_div {
    height: 120px;
  }
}
.reservaBstrap {
  font-size: 15px;
}

@media screen and (max-width: 379px) {
  .reservaBstrap {
    font-size: 13px;
  }
}
/*  MEDIAQUERIES */
@media screen and (max-width: 1496px) {
  .foto__fondo {
    display: none;
  }
  .foto__logo {
    width: 100%;
  }
  .divNavbar ul {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .menuCompleto {
    display: grid;
    grid-template-areas: "presentacion" "comida" "bebidas" "cervezas";
    grid-template-columns: 100%;
    grid-template-rows: 200px 1fr 1fr 300px;
  }
  .bodyDiv_img {
    height: 100%;
  }
  .menuCompleto {
    text-align: center;
  }
  .local2 {
    width: 400px;
    height: 250px;
  }
  .local1 {
    width: 400px;
    height: 250px;
  }
  .reserva {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  .reserva_br768 {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .foto__fondo {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .local1 {
    width: 100%;
  }
  .local2 {
    width: 100%;
  }
}
.reservax {
  margin: 0px;
}

.reserva {
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .reserva {
    font-size: 28px;
  }
}
@media screen and (max-width: 358px) {
  .reserva {
    font-size: 130%;
  }
}
@media screen and (max-width: 250px) {
  .reserva {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .foto__fondo {
    width: 50%;
  }
  .imagenesIndex {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 450px) {
  .nav_responsive {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .divNavbar {
    display: none;
  }
  .foto__logo {
    margin-top: 44px;
  }
  .redes_container ul {
    list-style: none;
  }
}/*# sourceMappingURL=estilos.css.map */