*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.foto__logo { 
    width: 400px;
    height: 200px;
}

.bodyMenu_img{
    width: 240px;
    height: 240px;
   padding: 15px;
   border: 1px solid rgb(42, 42, 62);
   transition: 1s;
}

.bodyMenu_img:hover{
    background-color:rgba(0, 72, 139, 0.534);
    border: 1px solid white;
}

/* .body {
    background-color: rgb(0, 0, 0);
} */

.divNavbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.divNavbar ul li{
    display: inline-block;
    border: 1px solid white;
}

.divNavbar ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    padding: 15px 100px;
}

.footer_h5 {
    color: #fff;
}

.imagen12 {
height: 200px;
width: 400px;
}

.navbar1:hover {
    background: rgb(52, 35, 93);
}

.reserva {
    color: #fff;
    background-color: rgb(27, 25, 25);
    height: 400px;
    font-size: 14px;
}

.localesletra{
    color: #fff;
}

.contactosletra {
    color: #fff;
}

.menuletra {
    color: #fff;
    text-align: center;
}

.productoestrella {
    color: rgb(252, 2, 2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.localesdiv {
    text-align: center;
    background-color: rgb(22, 21, 21);
}

.local1:hover{
    -webkit-transform: scale(1.1); transform: scale(1.02);
    overflow: hidden;
}

.local2:hover{
    -webkit-transform: scale(1.1); transform: scale(1.02);
    overflow: hidden;
}

.menu {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
grid-area: comida;
border-top: 1px solid white;
padding: 30px;
border-bottom: 1px solid white;
}

.local1 {
    width: 650px;
    height: 390px;
    transition: 1s;
}

.local2 {
    width: 650px;
    height: 390px;
    transition: 1s;
}

.video {
    grid-area: video;
}

.videoo{
    height: 100%;
    width: 100%;
}

.home_contenedorPrincipal {
    width: 100%;
    height: 500px;
    background-color: rgb(2, 2, 2);
    position: relative;
    color: #fff;
    display: grid;
    grid-template-areas: 
    "parrafo video";
    grid-template-columns: 68% 32%;
    grid-template-rows: 100%;
}

.parrafo{
    grid-area: parrafo;
}

.indexH1_parrafo{
    font-size: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.bebidasdiv{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.body_div{
    grid-area: presentacion;
}

.bodyDiv_img{
    width: 100%;
    height: 300px;
}

.imagenSubtitulo1 {
    width: 100%;
    height: 200px;
}

.reservax{
    color: #fff;
}

.foto__fondo{
    width: 100%;
    height: 200px;
}

.imagenesIndex{
    display: flex;
}

.footer{
    background-color: rgb(23, 21, 21);
}

.menuCompleto{
    display: grid;
    grid-template-areas: 
    "presentacion"
    "comida"
    "bebidas"
    "cervezas";
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 1px;
}

.cervezas{
    grid-area: cervezas;
    border-top: 1px solid white;
    text-align: center;
}

@media screen and (max-width: 1378px){
    .foto__fondo{
        display: none;
    }
    .foto__logo{
        width: 100%;
    }

    .divNavbar ul{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .menuCompleto{
        display: grid;
        grid-template-areas: 
        "presentacion"
        "comida"
        "bebidas"
        "cervezas";
        grid-template-columns: 100%;
        grid-template-rows: 200px 1fr 1fr 300px;
    }
    .bodyDiv_img{
        height: 100%;
    }
    .home_contenedorPrincipal{
        display: grid;
        grid-template-areas: 
        "parrafo"
        "video";
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        width: 100%;
        height: 500px;
    }
    .parrafo{
        grid-area: parrafo;
    }
    .indexH1_parrafo{
        font-size: 100%;
    }
    .video{
        grid-area: video;
    }
    .videoo{
        height: 100%;
    }
    .indexH4_parrafo{
        font-size: 97%;
    }
    .menuCompleto{
        text-align: center;
    }
    .local2{
        width: 400px;
        height: 250px;
    }
    .local1{
        width: 400px;
        height: 250px;
    }
    .reserva{
        font-size: 15px;
    }
}

@media screen and (min-width: 768px){
    .reserva_br768{
        display: none;
    }
}

@media screen and (min-width: 800px){
    .foto__fondo{
        display: block;
    }
}    

@media screen and (max-width: 400px) {
    .local1{
        width: 100% ;
    }

    .local2{
        width: 100%;
    }
}

.reservax{
    margin: 0px;
}

.reserva{
    font-size: 32px;
}

@media screen and (max-width: 768px){
    .reserva{
        font-size: 28px;
    }
}